@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&family=Inter:wght@300;400;500;600;700;800;900&family=Lobster&family=Montserrat:wght@200&family=Oswald:wght@300;700&family=Poppins:wght@700&family=Roboto:wght@300;400;500;700&family=Splash&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Hind', sans-serif;
}

a {
    text-decoration: none !important;
}

/* header css */
/*.ed-navbar {*/
/*    background-color: white !important;*/
/*    padding: 0 30px;*/
/*    box-shadow: 0 30px 40px #010b3c0f !important;*/
/*}*/

/*.edocean-logo {*/
/*    width: 70px;*/
/*    height: 70px;*/
/*}*/

/*.navbar-desktop {*/
/*    width: 100%;*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*    align-items: center;*/
/*}*/

/*.Start {*/
/*    margin-top: 20px;*/
/*}*/

/*.nav-link {*/
/*    color: black !important;*/
/*}*/

/*.search-ed {*/
/*    position: relative;*/
/*    !* height: 50px; *!*/
/*}*/

/*.search-form-and-btn {*/
/*    display: flex;*/
/*}*/

/*.login-btnn {*/
/*    background-color: #14427C !important;*/
/*    color: white !important;*/
/*}*/

/*.login-btnn a {*/
/*    text-decoration: none;*/
/*    color: white !important;*/
/*}*/

/*.search-iconn {*/
/*    position: absolute;*/
/*    right: 5px;*/
/*    z-index: 100;*/
/*}*/

/*.navbar-toggler {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    gap: 5px;*/
/*}*/

/*.navbar-toggler-icon {*/
/*    background: none !important;*/
/*    background-color: black !important;*/
/*    height: 5px !important;*/
/*}*/

/*.sticky-top {*/
/*    position: sticky;*/
/*}*/

/*.profile-dropdown-img {*/
/*    width: 30px;*/
/*    height: 30px;*/
/*    border-radius: 50%;*/
/*}*/

/*.prfl-ul {*/
/*    z-index: 9999 !important;*/
/*}*/

/*.auth a {*/
/*    color: #14427C !important;*/
/*}*/

header{
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 99;
}
.ed_nav ul{
    list-style: none;
}
.ed_nav{
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.ed_nav_logo img{
    width: 70px;
    height: 70px;
}
.navbar_links{
    display: flex;
    gap: 30px;
    margin-bottom: 0 !important;
}
.drp_dwn{
    padding-left: 0;
    position: relative;
}
#drp_dwn_li{
    display: flex;
    align-items: center;
    gap: 5px;
}
.nav_link a, .profile_ul li a{
    font-size: 18px;
    color: black !important;
    font-weight: 600;
}
.nav_link a:hover, .profile_ul li a:hover{
    color: #1c5ba8 !important;
}
.dropdown_ul, .profile_ul{
    margin-top: 8px;
    display: none;
    padding-left: 0;
    position: absolute;
    z-index: 100;
    width: 220px;
    background-color: white;
    box-shadow: 0 20px 30px #0417764d;
    padding: 20px;
    border-top: 3px solid #1c5ba8;
    transition: 1s;
    color: transparent;

}
.profile_ul{
    width: 110px;
    right: -40px;
    font-size: 16px;
}
.profile_ul li a{
    font-size: 16px;
}
.dropdown_ul li, .profile_ul li{
    margin-bottom: 5px;
}
.dropdown_active{
    display: block;

}
.login_profile{
    position: relative;
}
.srch_and_login{
    display: flex;
    align-items: center;
    gap: 20px;
}
.user_img{
    width: 35px;
    height: 35px;
    border-radius: 100%;
    cursor: pointer;
}
.hmbrgr_icon{
    display: none;
}
.hmbrgr_icon span{
    display:block;
    margin-bottom: 5px;
    width: 30px;
    height: 3px;
    background-color: #13287e;
}
#close_menu{
    display: none;

}
.close_menu ion-icon{
    font-size: 20px;
}
.search_div{
    position: relative;
    display: flex;
    align-items: center;
    background-color: #13287e;
    border-radius: 25px;
    height: 40px;
    margin-right: 10px;
}
.search_icon{
    position: absolute;
    right: -16px;
    background-color: #13287e;
    width: 42px;
    height: 40px;
    border-radius: 100%;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 18px;
    font-weight: bold;
    border: 1px solid #13287e;
}
.srch_inp{
    width: 0;
    background-color: #13287e;
    height: 40px;
    border-style: none;
    outline: none;
    font-size: 18px;
    letter-spacing: 2px;
    border: 1px solid #13287e;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    color: #fff;
    transition:  .7s ease;

}
.search_div:hover .srch_inp{
    width: 150px;
    padding: 10px 20px;

}
.srch_inp::placeholder{
    color: #fff;
}


#ed-video {
    height: 85vh !important;

    position: relative;
}

.fabs {
    position: absolute;
    right: 40px;
    bottom: 20px;
    color: white;
    font-size: 30px;
}

.fabs button {
    background-color: #14427C;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: none;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fabs .ed-video-volume {
    opacity: 0;
    pointer-events: none;
}

.fabs.active .ed-video-volume {
    opacity: 1;
    pointer-events: auto;
}

.fabs.active .ed-video-mute {
    opacity: 0;
    pointer-events: none;
}

.fabs button:first-child {
    position: absolute;
    right: 0px;
}

.video-ed {
    width: 100% !important;
    height: 100%;
    object-fit: cover;
}

.categories-course, .categories-techer, .T-R, .student-ul {
    display: flex;
    width: 100%;
    gap: 30px;
    list-style: none;
    margin-bottom: 0 !important;
    padding-left: 0 !important;
    flex-wrap: wrap;
}

.categories-course li, .categories-techer li, .T-R li, .student-ul li {
    cursor: pointer;
    background-color: #14427C;
    padding: 6px 15px;
    border-radius: 5px;
    color: white;
    font-size: 18px;
}

.active-li {
    background-color: #0e1133 !important;

}

.course-section {
    padding: 70px 0;
}

.course-container {
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.course-container h1 {
    text-align: center;
}

.course-row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 30px;
}

.course {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
    border: 2px solid #eef0f6;
    border-radius: 5px;
    padding: 10px;
    transition: 0.8s;
    color: #0e1133;
    cursor: pointer;
}

.course img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
}

.course h3, .course p {
    margin: 0 !important;
}

.course:hover {
    background-color: #14427C;
    color: white;
    box-shadow: 0 20px 30px #0417764d;
    border: none;
}

.see-all-button {
    padding: 0.8rem 1.5rem;
    border: none;
    background-color: #14427C;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    cursor: pointer;
    transition: 0.5s;
}

.see-all-button:hover {
    background-color: #0e1133;
    box-shadow: 0 20px 30px #0417764d;
}

.see-all-href {
    text-align: center;
}

.teacher-section {
    padding: 70px 0;
    background-color: #F3F4F8;
}

.teacher-section p, .teacher-section h5 {
    margin: 0 !important;
}

.teacher-section p {
    color: #53545b;
}

.teacher-container {
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.teacher-container h1 {
    text-align: center;
}

.teacher-row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(302px, 1fr));
    grid-gap: 30px;
}

.teacher {
    background-color: white;
    width: 100%;
    border-radius: 10px;
}

.teacher-card-img {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.details-1 {
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.details-1 h5 {
    font-weight: 600;
}

.rating-and-views {
    display: flex;
    justify-content: space-between;
}

ion-icon[name="star"] {
    color: #ff9415;
    margin-bottom: -2.5px;
}

ion-icon[name="eye"] {
    margin-bottom: -3px;
    color: #14427C;
}

.name-and-img {
    display: flex;
    gap: 10px;
    align-items: center;
}

.name-and-img img {
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

.name-and-img p {
    font-weight: 500;
}

.date-and-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    border-top: 1px solid #f0f0f5;
}

.date-and-button p {
    font-size: 18px;
}

.date-and-button button {
    background: none;
    border: none;
    font-size: 18px;
}

.date-and-button button:hover {
    color: #14427C;
}

ion-icon[name="arrow-forward"] {
    margin-bottom: -3px;
    margin-left: 5px;
}

ion-icon[name="calendar-number"] {
    margin-bottom: -2px;
    margin-right: 5px;
}

.student-section {
    background-color: white;
}

.student {
    background-color: #f3f4f8;
}

.student:hover {

    box-shadow: 0 20px 30px #0417764d;
}

/* footer css */
.ed-footer {
    background-color: black;
    padding-top: 70px;
}

.logo-and-social img {
    width: 150px;
    height: 150px;
}

.logo-and-social {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.logo-and-social p {
    margin-bottom: 0 !important;
    color: white;
    width: 70%;
}

.sociall {
    font-size: 26px;
    display: flex;
    gap: 10px;
}

.sociall a {
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 6px;
    color: black;
}

.sociall a:hover {
    background-color: #14427C;
    color: white;
}

.logo-and-p {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.site-map {
    color: white;
}

.site-map h3 {
    margin-bottom: 30px !important;
}

.ed-footer-map {
    padding-left: 30px;
}

.developed-by {
    border-top: 1px solid white;
    display: flex;
    justify-content: center;
    padding: 20px 0;
    color: white;
}

/* contact css */
.contact-header, .blog-header {
    height: 50vh;
    background-image: linear-gradient(rgba(87, 87, 100, 0.6), rgba(70, 70, 97, 0.6)), url(./images/contact-header-img.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    display: flex;
    align-items: center;
}

.contact-header-div, .blog-header-div {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: auto;
}

.contact-header-div h1, .blog-header-div h1 {
    color: white;
    font-size: 70px;
}

.contact-header-div a, .blog-header-div a {
    text-decoration: none;
}

.contact-header-div p, .blog-header-div p {
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
    font-size: 15px;
}

.contact-main {
    padding: 60px 0;
}

.contact-main .container {
    display: flex;
}

.contact-form {
    width: 65%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.contact-form form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 80%;

}

.contact-form h3, .contact-information h3 {
    color: #0e1133;
}

.contact-form form .input-and-label {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.btn-submit {
    border: none;
    border-radius: 4px;
    padding: 10px 25px;
    cursor: pointer;
    color: white;
    background-color: #14427C;
}

.btn-submit:hover {
    background-color: black;
    color: white;
}


.contact-textarea {
    padding: 10px;
    height: 150px;
    background-color: #f3f4f8 !important;
    border: none !important;
    color: #0e1133 !important;
    border-radius: 4px !important;
    outline: none !important;
}

.input-and-label input {
    background-color: #f3f4f8;
    color: #0e1133;
    padding: 10px;
    border-radius: 4px;
    border: none;
    outline: none;
}

.input-and-label label {
    color: #0e1133;
}

.contact-information {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 35%;
}

.informations {
    border-radius: 4px;
    box-shadow: 0 30px 50px #010b3c1a;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 50px 30px;
}

.informations .information-detail {
    display: flex;
    gap: 20px;
    padding: 15px;
    margin: 0 !important;
    align-items: center;
}

.informations .information-detail h3, .informations .information-detail p {
    margin-bottom: 0 !important;
}

.informations .information-detail ion-icon {
    font-size: 26px;
    color: #14427C;
}

.information-detail div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* blog css */
.blog-header-div h1 {
    font-weight: 800;
}

.blog-main {
    padding: 90px 0;
}

.blog-card-container {
    margin-bottom: 20px;
    border-radius: 10px;
    display: flex;
}

.blog-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 20px 30px #0417764d;
}

.blog-card-img {
    width: 100%;
    height: 300px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

p {
    margin-bottom: 0 !important;
}

.details-1 h5 a {
    color: black;
}

.details-1 h5 a:hover {
    color: #14427C;
}

ion-icon[name="chatbubble"] {
    margin-bottom: -3px;
    margin-right: 5px;
    font-size: 22px;
    color: #53545b;
}

.date-and-button p {
    color: #53545b;
}

.blog-btn {
    padding: 20px 30px;
    display: flex;
    border-top: 1px solid #f0f0f5;
    justify-content: flex-end;
}

.blog-btn button {
    background: none;
    border: none;
    font-size: 18px;
}

.blog-btn button:hover {
    color: #1c5ba8;
}

.blog-date {
    border-top: none;
    padding-top: 0;
}

.recent-post-div {
    gap: 20px;
}

.recent-post-text {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.recent-post-div img {
    height: 80px;
    width: 80px;
    border-radius: 7px;
}

.recent-posts, .blog-categories {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 80%;
    margin: auto;
    padding-bottom: 40px;
}

.recent-posts h4, .blog-categories h4 {
    font-weight: 800;
    font-size: 20px;
    padding-bottom: 7px;
    border-bottom: 1px solid #f0f0f5;
}

.recent-post-text h5 a {
    color: #0e1133;
    font-size: 18px;
    font-weight: 800;
}

.recent-post-text h5 a:hover {
    color: #1c5ba8;
}

.bl-cat {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.bl-cat a {
    color: #53545b;
    font-weight: 500;
}

/* blog-details css */
.blog-details-bg-img {
    height: 90vh;
    background-image: linear-gradient(rgba(47, 47, 104, 0.6), rgba(48, 48, 98, 0.6)), url(./images/blog-details-bg-img.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    display: flex;
    align-items: center;
}

.blog-details-header-div h1 {
    font-size: 80px;
    font-weight: 800;
    color: white;
}

.author-and-date {
    display: flex;
    align-items: center;
    gap: 30px;
}

.author {
    display: flex;
    align-items: center;
    gap: 5px;
}

.author-img {
    border: 2px solid white;
    height: 30px;
    width: 30px;
    border-radius: 100%;
}

.author-name {
    color: white;
    font-weight: 500;
    font-size: 16px;
}

.detail-time {
    display: flex;
    align-items: center;
    gap: 5px;
}

.detail-time ion-icon {
    font-size: 20px;
    color: wheat;
}

.detail-time span {
    color: white;
    font-size: 16px;
}

.blog-detail-img {
    width: 100%;
    border-radius: 10px;
}

.blog-detail-info h3 {
    font-size: 36px;
    font-weight: 800;

}

.blog-detail-info p {
    font-size: 18px;
    color: #53545b;
    border-bottom: 1px solid #f0f0f5;
}

.comment-item img {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: 2px solid white;
}

.comment-item {
    gap: 20px;
    background-color: #f3f4f8;
    padding: 20px 30px;
    border-radius: 7px;
}
.comment-reply{
    width: 95%;
    margin-left: auto;
}
.comment-detail p {
    border: none;
    font-size: 18px;
    color: #53545b;
}

.comment-detail h5 {
    font-size: 16px;
    margin-bottom: 0 !important;
    font-weight: 700;
}

.comment-detail .comment-time {
    font-size: 14px;
    color: #53545b;
}

.comment-detail a {
    background-color: rgba(43, 78, 255, .1);
    font-size: 16px;
    padding: 0 10px;
    border-radius: 5px;
}

.comment-detail a:hover {
    color: white;
    background-color: #1c5ba8;
}

.blog-comments h3, .write_review {
    font-size: 30px;
}

.name_and_email {
    gap: 20px;

}

.name_and_email input {
    width: 50%;
    padding: 13px;
    border-radius: 5px;
    border: none;
    background-color: #f0f0f5;
    outline: none;
}

.comment_textarea {
    padding: 20px;
    margin-bottom: 5px;
    width: 100%;
    border: none;
    border-radius: 5px;
    background-color: #f0f0f5;
    height: 150px;
    outline: none;
}

.comment_button {
    padding: 13px 30px;
    border: none;
    background-color: #2b4eff;
    color: white;
    border-radius: 5px;
    font-size: 17px;

}

.comment_button:hover {
    box-shadow: 0 10px 24px #0417764d;
}
/*teacher single css*/
/*.tchr_single{*/
/*    background-color: #f0f0f5;*/
/*    padding: 60px 0;*/
/*}*/
/*.tchr_prfl{*/
/*    background-color: white;*/
/*    width: 70% ;*/
/*    margin: auto;*/
/*    padding: 30px;*/
/*    border-radius: 10px;*/
/*    box-shadow: 0 20px 30px #0417764d;*/
/*}*/
/*.teacher-sidebar{*/
/*    background-color: white;*/
/*    border-radius: 8px;*/
/*    padding: 20px 0;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    align-items: center;*/
/*    gap: 20px;*/
/*}*/
/*.sidebar_img {*/
/*    width: 150px;*/
/*    height: 150px;*/
/*    border-radius: 100%;*/
/*}*/
/*.sidebar_img img{*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    border-radius: 100%;*/
/*}*/
/*.sidebar_content{*/
/*    flex-direction: column;*/
/*}*/
/*.sidebar_content h5{*/
/*    font-weight: 700;*/
/*    font-size: 24px;*/
/*    color: #2b4eff;*/
/*}*/
/*.sidebar_content p{*/
/*    font-size: 16px;*/
/*    margin-bottom: 10px !important;*/
/*    color: #0e1133;*/
/*}*/
/*.sidebar_content button{*/
/*    border: none;*/
/*    background-color: #2b4eff;*/
/*    padding: 6px 30px;*/
/*    border-radius: 6px;*/
/*    color: white;*/
/*}*/
/*.sidebar_content button a{*/
/*    color: white;*/
/*}*/
/*.soc_net{*/
/*    font-size: 24px;*/
/*    gap: 20px;*/
/*}*/
/*.soc_net a{*/
/*    width: 40px;*/
/*    height: 40px;*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*    border-radius: 5px;*/
/*}*/
/*.soc_net .whatsapp-logo{*/
/*    color: green;*/
/*}*/
/*.soc_net .whatsapp-logo:hover{*/
/*    background-color: green;*/
/*    color: white;*/
/*}*/
/*.soc_net .facebook-logo:hover{*/
/*    background-color: #2b4eff;*/
/*    color: white;*/
/*}*/
/*.soc_net .instagram-logo{*/
/*    color: rgb(228, 64, 95);*/
/*}*/
/*.soc_net .instagram-logo:hover{*/
/*    background-color: rgb(228, 64, 95);*/
/*    color: white;*/
/*}*/
/*.soc_net .linkedin-logo:hover{*/
/*    background-color: #2b4eff;*/
/*    color: white;*/
/*}*/
/*.about_tchr{*/
/*    background-color: white;*/
/*    border-radius: 8px;*/
/*}*/
/*.about_tchr_row{*/
/*    gap: 60px;*/
/*    padding: 20px 0 10px 0;*/
/*    border-bottom: 1px solid #f0f0f5;*/
/*}*/
/*.about_tchr_row h5{*/
/*    font-size: 22px;*/
/*    font-weight: 700;*/
/*    color: #14427C;*/
/*}*/
/*.about_tchr_row p{*/
/*    color: rgb(122, 121, 121);*/
/*    font-size: 18px;*/
/*    font-weight: 500;*/
/*}*/
/*.tchr_about{*/
/*    padding: 40px 0;*/
/*}*/
/*.tchr_about h1{*/
/*    font-size: 24px;*/
/*    font-weight: 700;*/
/*    color: #2b4eff;*/

/*}*/
/*.tchr_about p{*/
/*    font-size: 20px;*/
/*    color: rgb(122, 121, 121);*/
/*    font-weight: 500;*/
/*}*/
/*.tchr-certficates{*/
/*    width: 100%;*/
/*    padding: 70px 0;*/
/*}*/
/*.tchr_crtf{*/
/*    width: 70%;*/
/*    margin: auto;*/
/*}*/
/*.tchr_crtf h3{*/
/*    font-size: 36px;*/
/*    font-weight: 700;*/
/*    color: #2b4eff;*/
/*}*/
/*.crtf{*/
/*    width: 100%;*/
/*    margin: auto;*/
/*    padding: 60px 0;*/
/*    background-color: #9A9CA0 ;*/
/*}*/
/*.crtf img{*/
/*    margin: auto;*/
/*    width: 80%;*/
/*    height: 450px;*/
/*    box-shadow:  0 20px 30px #0417764d;;*/
/*}*/
/*.tchr_videos{*/
/*    padding: 70px 0;*/
/*    background-color: #f0f0f5;*/
/*}*/
/*.tchr_vds{*/
/*    width: 70%;*/
/*    margin: auto;*/
/*}*/
/*.tchr_vds h3{*/
/*    font-size: 36px;*/
/*    font-weight: 700;*/
/*    color: #2b4eff;*/
/*}*/
/*.tchr_video{*/
/*    width: 100%;*/
/*    border-radius: 10px;*/
/*}*/
.teacher_single {
    padding: 70px 0;
}
.tchr_tabs {
    width: 70%;
    margin: auto;
    background-color: #14427c;
    border-radius: 10px;
    box-shadow: 0 20px 30px #0417764d;
}
ul#tchr_tabs_nav {
    list-style: none;
    margin: 0;
    padding: 10px 30px;
    overflow: auto;
}
ul#tchr_tabs_nav li {
    float: left;
    font-weight: bold;
    margin-right: 2px;
    padding: 8px 10px;
    border-radius: 5px 5px 5px 5px;
    cursor: pointer;
}
ul#tchr_tabs_nav li:hover,
ul#tchr_tabs_nav li.active {
    background-color: #1c5ba8;
}
#tchr_tabs_nav li a {
    text-decoration: none;
    color: #fff;
}
.tchr_tab_content {
    padding: 30px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #fff;
}
.tchr_prfl_img {
    width: 150px;
    height: 150px;
    border-radius: 8px;
}
.tc_img_and_soc h5 {
    font-weight: 700;
    font-size: 24px;
    color: #2b4eff;
}
.tc_img_and_soc p {
    font-size: 16px;
    margin-bottom: 10px !important;
    color: #0e1133;
}
.soc_net {
    font-size: 24px;
    gap: 20px;
}
.soc_net a {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}
.soc_net .whatsapp-logo {
    color: green;
}
.soc_net .whatsapp-logo:hover {
    background-color: green;
    color: white;
}
.soc_net .facebook-logo:hover {
    background-color: #2b4eff;
    color: white;
}
.soc_net .instagram-logo {
    color: rgb(228, 64, 95);
}
.soc_net .instagram-logo:hover {
    background-color: rgb(228, 64, 95);
    color: white;
}
.soc_net .linkedin-logo:hover {
    background-color: #2b4eff;
    color: white;
}
.teacher_like_dislike {
    gap: 20px;
}
.teacher_like_dislike p {
    display: flex;
    align-items: center;
    gap: 10px;
}
.teacher_like_dislike p span {
    color: #53545b;
    font-size: 18px;
}
.like_dislike {
    height: 25px;
    width: 25px;
    fill: #2b4eff;
}
#about h2 {
    color: #2b4eff;
    font-weight: 700;
}
#about p {
    color: rgb(122, 121, 121);
    font-size: 18px;
    font-weight: 500;
}
.about_tchr_row {
    gap: 60px;
    padding: 20px 0 10px 0;
    border-bottom: 1px solid #f0f0f5;
}
.about_tchr_row h5 {
    font-size: 22px;
    font-weight: 700;
    color: #14427c;
}
.about_tchr_row p {
    color: rgb(122, 121, 121);
    font-size: 18px;
    font-weight: 500;
}
.tchr_crtf {
    width: 95%;
    margin: auto;
}
.tchr_crtf h3 {
    font-size: 36px;
    font-weight: 700;
    color: #2b4eff;
}
.crtf {
    width: 100%;
    margin: auto;
    padding: 60px 0;
    /* background-color: #f0f0f5; */
}
.crtf img {
    margin: auto;
    width: 80%;
    height: 450px;
    box-shadow: 0 20px 30px #0417764d;
}
.crt_next_prev{
    background-color: #1c5ba8;
}
.tchr_video {
    width: 100%;
    border-radius: 10px !important;
}
/* about us page */
.about_us_top{
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #14427c;
}
.about_us_top_text h1{
    font-size: 60px;
    font-weight: 700;
    color: white;
}
.about_us_top_text p{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 16px;
}
.about_us_top_text p a{
    color: aqua;
}
.about_us_top_text p a:hover{
    color: #ccc;
}
.our-mission-img, .who_we_are_img{
    height: 400px;
}
.our-mission-img img, .who_we_are_img img{
    height: 100%;
}
.our_mission .row, .who_we_are .row{
    --bs-gutter-x: 0 !important;
}
.our_mission_content, .who_we_are_content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 60px 40px !important;
    background-color: #1c5ba8;
    height: 400px;
}

.our_mission_content h2{
    font-size: 36px;
    font-weight: 700;
    color: white;
}
.who_we_are{
    border: 5px solid #1c5ba8;
    margin-top: -70px;
    margin-bottom: 70px;
    padding: 5px !important;
}
.about_row{
    box-shadow: 0 30px 50px 0 rgb(1 1 1 / 18%);
}
.our_mission_content p{
    font-size: 18px;
    font-weight: 500;
    color: white;
}
.who_we_are_content{
    background-color: #f5f7ff;
}
.who_we_are_content h2{
    color: #1c5ba8;
    font-weight: 700;
    font-size: 36px;
}
.who_we_are_content p{
    color: #5f5f5f;
    font-weight: 500;
    font-size: 18px;
}
.our_team {
    padding: 50px 0 ;
    background-color: #f5f7ff;
}
.team_header{
    font-size: 30px;
    color: #13287e;
}

.slick-track{
    padding-bottom: 10px !important;
}
.slider{
    width: 80%;
    margin: auto;
}
.items{
    box-shadow: 0 0 5px rgb(0 0 0 / 20%);
    border-radius: 10px;
    text-align: center;
    align-items: center;
    margin-top: 30px;
    margin: 0px 10px;
}
.items img{
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 200px;
    transition: all linear 0.5s;
}
.slick-slide img{
    display: inline-flex!important;
}
.items .textt{
    text-align: center;
    margin: auto;
    position: relative;
    padding: 50px 30px 30px 30px;
}
.items .textt h5{
    margin-bottom: 0px!important;
    font-size: 20px;
    font-weight: 600;
    color: #13287e;
}
.items .textt p{
    margin-top:12px!important;
    font-size: 14px;
    font-weight:500;
}

.slider .slick-center img{
    transform: scale(1.15);
}
.slick-prev:before {
    content: '←';
}
.slick-next:before {
    content: '→';
}
.slick-prev:before, .slick-next:before {
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;
    opacity: .75;
    color: white;
    -webkit-font-smoothing: antialiased;
}
.slick-prev:before, .slick-next:before {
    color: transparent !important;
}
.slick-prev {
    margin-left:-25px;
}
.slick-next {
    margin-right: -25px;
}
.slick-prev {
    background: url(../images/Previous.webp) no-repeat !important;
    width: 45px !important;
    height: 40px !important;
    left: -42px !important;
    background-size: 100% 100% !important;
}
.slick-next {
    background: url(../images/Next.webp) no-repeat !important;
    width: 45px !important;
    height: 40px !important;
    right: -42px !important;
    background-size: 100% 100% !important;
    transform: rotate(180deg);
}
.slick-prev, .slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 20px;
    height: 20px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}
.our_videos {
    padding: 60px 0;
    background-color: #1c5ba8 !important;
}
.video_header{
    font-size: 36px;
    color: white;
    font-weight: 700;
}
.our-video-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    width: 49%;
}

.our-video-description h1 {
    color: white;
    width: 80%;
    font-weight: 800;
}

.our-video-description p {
    color: white;
    font-size: 18px;
    width: 80%;
    font-weight: 600;
}

.our-video-description button {
    width: 200px;
    padding: 15px 0;
    border: none;
    border-radius: 6px;
}

.our-video-description button a {
    color: #5f5f5f;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
}
.our-video-slider-control-buttons {
    justify-content: center;
    margin-top: 30px;
}

.our-video-slider-control-buttons .carousel-control-prev,
.our-video-slider-control-buttons .carousel-control-next {
    width: auto !important;
    position: inherit !important;
}

.our-video-slider-control-buttons .carousel-control-next {
    margin-left: 20px;
}

/* Login  and Register css */

.login-page {
    margin-top: 95px;
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.man-1 {
    position: absolute;
    top: 40%;
    left: 25%;
    z-index: -1;
}

.man-2 {
    position: absolute;
    top: 27%;
    right: 25%;
    z-index: -1;
}

.sign-up-img {
    position: absolute;
    top: 1%;
    left: 38%;
    height: 80vh;
    z-index: -1;
    opacity: .06;
    max-width: 100%;
}

.login-form {
    width: 400px;
    box-shadow: 0 30px 50px #010b3c1a;
    border-radius: 10px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    background-color: white;
}

.login-form-div {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.login-form-div div {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.login-form-div label {
    color: #14427C;
}

.login-form-div input {
    padding: 10px;
    background-color: #f3f4f8;
    border: none;
    outline: none;
    border-radius: 5px;
    width: 100%;
    color: #14427C;
}

.login-submit {
    background-color: #14427C !important;
    color: white !important;
    margin-top: 20px;
}

.btn-and-txt {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.btn-and-txt a {
    color: #14427C;
    text-decoration: none;
}

.login-h2 {
    color: #14427C;
}

.register-page {
    padding: 50px 0;
    height: auto;
}

.autor {
    justify-self: flex-start;
    align-items: center;
    flex-direction: row !important;
    gap: 20px !important;
}

.autor div {
    display: flex;
    flex-direction: row !important;
    align-items: center;
}

.autor-text {
    color: #14427C;
}

.input-and-iconn {
    position: relative;
    display: block !important;
}

ion-icon[name="eye-off"] {
    position: absolute;
    right: 20px;
    top: 12px;
    font-size: 20px;
    color: #14427C;
    cursor: pointer;
}

.red-border, .is-invalid {
    border: 1px solid red !important;
}

.hide {
    display: none;
}

@media (max-width: 1200px) {
    .man-1 {
        left: 10%;
    }

    .man-2 {
        right: 10%;
    }
}

@media (min-width: 992px) {
    /*.ed-navbar {*/
    /*    font-size: 1.3vw !important;*/
    /*}*/
}

@media (max-width: 992px) {
    /* navbar */
    .navbar_links{
        visibility: hidden;
        transform: translateX(-300px);
        padding: 50px 20px;
        width: 250px;
        position: absolute;
        flex-direction: column;
        background-color: white;
        left: 0;
        top: 0;
        height: 100vh;
        gap: 20px;
        z-index: 101;
        transition: 1s;
    }
    .nav_link{
        /* margin-bottom: 10px; */
        font-size: 20px;
    }
    .dropdown_ul{
        position: inherit;
        box-shadow: none;
        width: auto;
        padding-left: 0;
        padding-bottom: 0;
    }
    #close_menu{
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
        width: 30px;
        font-size: 24px;
        color: #1c5ba8 !important;
    }

    .hmbrgr_icon{
        display: block;
        color: #1c5ba8 !important;
    }
    .menu_open{
        visibility: visible;
        /* width: 100%; */
        transform: translateX(0);


    }

    /* navbar end */

    .contact-form form {
        width: 90%;
    }

    .contact-form {
        width: 60%;
    }

    .contact-information {
        width: 40%;
    }

    .logo-and-social p {
        width: 100%;
    }
    /* teacher-single css */
    .tchr_prfl .tchr_prfl_row{
        flex-direction: column-reverse;
    }
    .crtf img{
        height: 400px;
    }
    /* about-us */
    .who_we_are_content h2, .our_mission_content h2{
        font-size: 28px;
    }
    .who_we_are_content p, .our_mission_content p{
        font-size: 16px;
    }
}

@media (max-width: 830px) {
    .sign-up-img {
        left: 20%;
        width: 70%;
        margin: auto;
    }

    .man-1 {
        left: 2%;
    }

    .man-2 {
        right: 2%;
    }
}

@media (min-width: 768px) {
    .teacher {
        max-width: 500px;
    }

}

@media (max-width: 768px) {
    .contact-main .container {
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .contact-form {
        width: 70%;
        align-items: center;
        gap: 0;
    }

    .contact-form form {
        width: 100%;
    }

    .contact-form h3 {
        align-self: flex-start;
    }

    .contact-information {
        width: 70%;
        gap: 0;
    }

    .logo-and-social p {
        width: 80%;
    }

    .categories-course {
        justify-content: space-between;
    }

    .categories-course li {
        width: 47%;
    }
    /* teacher-single css */
    .crtf img{
        width: 85%;
        height: 300px;
    }
    /* about us page */
    .who_we_are{
        padding-top: 50px ;
        margin-top: 0;
    }
    .who_we_are_row{
        flex-direction: column-reverse;
        margin-bottom: 30px;
    }
}

@media (max-width: 576px) {
    .contact-form {
        width: 90%;
    }

    .contact-information {
        width: 90%;
    }

    .man-1 {
        display: none;

    }

    .man-2 {
        display: none;
    }

    .sign-up-img {
        display: none;
    }

    .login-form {
        width: 90%;
    }

    .categories-course {
        justify-content: center;
    }

    .categories-course li {
        width: 100%;
        text-align: center;
    }
    /* teacher single page */
    .tchr_tabs {
        width: 90%;
    }
    .crtf {
        padding: 30px 0;
    }
    .crtf img {
        width: 90%;
        height: 250px;
    }
    .tchr_crtf h3,
    .tchr_vds h3 {
        font-size: 24px;
    }
}
