@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&family=Inter:wght@300;400;500;600;700;800;900&family=Lobster&family=Montserrat:wght@200&family=Oswald:wght@300;700&family=Poppins:wght@700&family=Roboto:wght@300;400;500;700&family=Splash&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Hind', sans-serif;
}

a {
    text-decoration: none !important;
}

/* header css */
.ed-navbar {
    background-color: white !important;
    padding: 0 30px;
    box-shadow: 0 30px 40px #010b3c0f !important;
}

.edocean-logo {
    width: 70px;
    height: 70px;
}

.nav-link {
    color: black !important;
}

.search-ed {
    position: relative;
}

.login-btnn {
    background-color: #14427C !important;
    color: white !important;
}

.login-btnn a {
    text-decoration: none;
    color: white !important;
}

.search-iconn {
    position: absolute;
    right: 5px;
    z-index: 100;
}

.navbar-toggler {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.navbar-toggler-icon {
    background: none !important;
    background-color: black !important;
    height: 5px !important;
}

#ed-video {
    height: 85vh !important;
    margin-top: 95px;
    position: relative;
}

.fabs {
    position: absolute;
    right: 40px;
    bottom: 20px;
    color: white;
    font-size: 30px;
}

.fabs button {
    background-color: #14427C;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: none;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fabs .ed-video-volume {
    opacity: 0;
    pointer-events: none;
}

.fabs.active .ed-video-volume {
    opacity: 1;
    pointer-events: auto;
}

.fabs.active .ed-video-mute {
    opacity: 0;
    pointer-events: none;
}

.fabs button:first-child {
    position: absolute;
    right: 0px;
}

.video-ed {
    width: 100% !important;
    height: 100%;
    object-fit: cover;
}

.categories-ul {
    display: flex;
    width: 100%;
    gap: 30px;
    list-style: none;
    margin-bottom: 0 !important;
}

.categories-ul li {
    cursor: pointer;
}

.active-li {
    color: #14427C;
}

.course-section {
    padding: 70px 0;
}

.course-container {
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.course-container h1 {
    text-align: center;
}

.course-row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 30px;
}

.course {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
    border: 2px solid #eef0f6;
    border-radius: 5px;
    padding: 10px;
    transition: 0.8s;
    color: #0e1133;
    cursor: pointer;
}

.course img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
}

.course h3, .course p {
    margin: 0 !important;
}

.course:hover {
    background-color: #14427C;
    color: white;
    box-shadow: 0 20px 30px #0417764d;
    border: none;
}

.see-all-button {
    padding: 0.8rem 1.5rem;
    border: none;
    background-color: #14427C;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    cursor: pointer;
    transition: 0.5s;
}

.see-all-button:hover {
    background-color: #0e1133;
    box-shadow: 0 20px 30px #0417764d;
}

.see-all-href {
    text-align: center;
}

.teacher-section {
    padding: 70px 0;
    background-color: #F3F4F8;
}

.teacher-section p, .teacher-section h5 {
    margin: 0 !important;
}

.teacher-section p {
    color: #53545b;
}

.teacher-container {
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.teacher-container h1 {
    text-align: center;
}

.teacher-row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(302px, 1fr));
    grid-gap: 30px;
}

.teacher {
    background-color: white;
    width: 100%;
    border-radius: 10px;
}

.teacher-card-img {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.details-1 {
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.details-1 h5 {
    font-weight: 600;
}

.rating-and-views {
    display: flex;
    justify-content: space-between;
}

ion-icon[name="star"] {
    color: #ff9415;
    margin-bottom: -2.5px;
}

ion-icon[name="eye"] {
    margin-bottom: -3px;
    color: #14427C;
}

.name-and-img {
    display: flex;
    gap: 10px;
    align-items: center;
}

.name-and-img img {
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

.name-and-img p {
    font-weight: 500;
}

.date-and-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    border-top: 1px solid #f0f0f5;
}

.date-and-button p {
    font-size: 18px;
}

.date-and-button button {
    background: none;
    border: none;
    font-size: 18px;
}

.date-and-button button:hover {
    color: #14427C;
}

ion-icon[name="arrow-forward"] {
    margin-bottom: -3px;
    margin-left: 5px;
}

ion-icon[name="calendar-number"] {
    margin-bottom: -2px;
    margin-right: 5px;
}

.student-section {
    background-color: white;
}

.student {
    background-color: #f3f4f8;
}

.student:hover {

    box-shadow: 0 20px 30px #0417764d;
}

/* footer css */
.ed-footer {
    background-color: black;
    padding-top: 70px;
}

.logo-and-social img {
    width: 150px;
    height: 150px;
}

.logo-and-social {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.logo-and-social p {
    margin-bottom: 0 !important;
    color: white;
    width: 70%;
}

.sociall {
    font-size: 26px;
    display: flex;
    gap: 10px;
}

.sociall a {
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 6px;
    color: black;
}

.sociall a:hover {
    background-color: #14427C;
    color: white;
}

.logo-and-p {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.site-map {
    color: white;
}

.site-map h3 {
    margin-bottom: 30px !important;
}

.ed-footer-map {
    padding-left: 30px;
}

.developed-by {
    border-top: 1px solid white;
    display: flex;
    justify-content: center;
    padding: 20px 0;
    color: white;
}

/* contact css */
.contact-header {
    margin-top: 95px;
    height: 50vh;
    background-image: linear-gradient(rgba(87, 87, 100, 0.6), rgba(70, 70, 97, 0.6)), url(./images/contact-header-img.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    display: flex;
    align-items: center;
}

.contact-header-div {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: auto;
}

.contact-header-div h1 {
    color: white;
    font-size: 70px;
}

.contact-header-div a {
    text-decoration: none;
}

.contact-header-div p {
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
    font-size: 15px;
}

.contact-main {
    padding: 60px 0;
}

.contact-main .container {
    display: flex;
}

.contact-form {
    width: 65%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.contact-form form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 80%;

}

.contact-form h3, .contact-information h3 {
    color: #0e1133;
}

.contact-form form .input-and-label {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.btn-submit {
    border: none;
    border-radius: 4px;
    padding: 10px 25px;
    cursor: pointer;
    color: white;
    background-color: #14427C;
}

.btn-submit:hover {
    background-color: black;
    color: white;
}

.contact-textarea {
    padding: 10px;
    height: 150px;
    background-color: #f3f4f8;
    border: none;
    color: #0e1133;
    border-radius: 4px;
    outline: none;
}

.input-and-label input {
    background-color: #f3f4f8;
    color: #0e1133;
    padding: 10px;
    border-radius: 4px;
    border: none;
    outline: none;
}

.input-and-label label {
    color: #0e1133;
}

.contact-information {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 35%;
}

.informations {
    border-radius: 4px;
    box-shadow: 0 30px 50px #010b3c1a;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 50px 30px;
}

.informations .information-detail {
    display: flex;
    gap: 20px;
    padding: 15px;
    margin: 0 !important;
    align-items: center;
}

.informations .information-detail h3, .informations .information-detail p {
    margin-bottom: 0 !important;
}

.informations .information-detail ion-icon {
    font-size: 26px;
    color: #14427C;
}

.information-detail div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}


/* Login  and Register css */

.login-page {
    margin-top: 95px;
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.man-1 {
    position: absolute;
    top: 40%;
    left: 25%;
    z-index: -1;
}

.man-2 {
    position: absolute;
    top: 27%;
    right: 25%;
    z-index: -1;
}

.sign-up-img {
    position: absolute;
    top: 1%;
    left: 38%;
    height: 80vh;
    z-index: -1;
    opacity: .06;
    max-width: 100%;
}

.login-form {
    width: 400px;
    box-shadow: 0 30px 50px #010b3c1a;
    border-radius: 10px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    background-color: white;
}

.login-form-div {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.login-form-div div {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.login-form-div label {
    color: #14427C;
}

.login-form-div input {
    padding: 10px;
    background-color: #f3f4f8;
    border: none;
    outline: none;
    border-radius: 5px;
    width: 100%;
    color: #14427C;
}

.login-submit {
    background-color: #14427C !important;
    color: white !important;
    margin-top: 20px;
}

.btn-and-txt {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.btn-and-txt a {
    color: #14427C;
    text-decoration: none;
}

.login-h2 {
    color: #14427C;
}

.register-page {
    padding: 50px 0;
    height: auto;
}

.autor {
    justify-self: flex-start;
    align-items: center;
    flex-direction: row !important;
    gap: 20px !important;
}

.autor div {
    display: flex;
    flex-direction: row !important;
    align-items: center;
}

.input-and-iconn {
    position: relative;
    display: block !important;
}

ion-icon[name="eye-off"] {
    position: absolute;
    right: 20px;
    top: 12px;
    font-size: 20px;
    color: #14427C;
}

.autor-text {
    color: #14427C;
}

.red-border {
    border: 1px solid red !important;
}

@media (max-width: 1200px) {
    .man-1 {
        left: 10%;
    }

    .man-2 {
        right: 10%;
    }
}

@media (min-width: 992px) {
    .ed-navbar {
        font-size: 1.3vw !important;
    }
}

@media (max-width: 992px) {
    .contact-form form {
        width: 90%;
    }

    .contact-form {
        width: 60%;
    }

    .contact-information {
        width: 40%;
    }

    .logo-and-social p {
        width: 100%;
    }
}

@media (max-width: 830px) {
    .sign-up-img {
        left: 20%;
        width: 70%;
        margin: auto;
    }

    .man-1 {
        left: 2%;
    }

    .man-2 {
        right: 2%;
    }
}

@media (max-width: 768px) {
    .contact-main .container {
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .contact-form {
        width: 70%;
        align-items: center;
        gap: 0;
    }

    .contact-form form {
        width: 100%;
    }

    .contact-form h3 {
        align-self: flex-start;
    }

    .contact-information {
        width: 70%;
        gap: 0;
    }

    .logo-and-social p {
        width: 80%;
    }
}

@media (max-width: 576px) {
    .contact-form {
        width: 90%;
    }

    .contact-information {
        width: 90%;
    }

    .man-1 {
        display: none;

    }

    .man-2 {
        display: none;
    }

    .sign-up-img {
        display: none;
    }

    .login-form {
        width: 90%;
    }
}
